In [1]:
import numpy as np 
import pandas as pd
import os
import glob
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

dataset_folder_name = './Input/data/no_mask/UTKFace'

TRAIN_TEST_SPLIT = 0.7
IM_WIDTH = IM_HEIGHT = 198

dataset_dict = {
    'race_id': {
        0: 'white', 
        1: 'black', 
        2: 'asian', 
        3: 'indian', 
        4: 'others'
    },
    'gender_id': {
        0: 'male',
        1: 'female'
    }
}

dataset_dict['gender_alias'] = dict((g, i) for i, g in dataset_dict['gender_id'].items())
dataset_dict['race_alias'] = dict((r, i) for i, r in dataset_dict['race_id'].items())

In [2]:
def parse_dataset(dataset_path, ext='jpg'):
    """
    Used to extract information about our dataset. It does iterate over all images and return a DataFrame with
    the data (age, gender and sex) of all files.
    """
    def parse_info_from_file(path):
        """
        Parse information from a single file
        """
        try:
            filename = os.path.split(path)[1]
            filename = os.path.splitext(filename)[0]
            age, gender, race, _ = filename.split('_')

            return int(age), dataset_dict['gender_id'][int(gender)], dataset_dict['race_id'][int(race)]
        except Exception as ex:
            return None, None, None
        
    files = glob.glob(os.path.join(dataset_path, "*.%s" % ext))
    
    records = []
    for file in files:
        info = parse_info_from_file(file)
        records.append(info)
        
    df = pd.DataFrame(records)
    df['file'] = files
    df.columns = ['age', 'gender', 'race', 'file']
    df = df.dropna()
    
    return df

In [3]:
old_df = parse_dataset(dataset_folder_name)
old_df.head()

    age gender    race                                               file
0  54.0   male   white  ./Input/data/no_mask/UTKFace/54_0_0_2017010421...
1  33.0   male  indian  ./Input/data/no_mask/UTKFace/33_0_3_2017011915...
2  35.0   male   white  ./Input/data/no_mask/UTKFace/35_0_0_2017011715...
3  29.0   male   black  ./Input/data/no_mask/UTKFace/29_0_1_2017011720...
4  44.0   male   white  ./Input/data/no_mask/UTKFace/44_0_0_2017011622...

In [4]:
over_60 = df['age'] > 60
is_male = df['gender'] == 'male' 
is_female = df['gender'] == 'female'
is_asian = df['race'] == 'asian'
df = df[over_60 & (is_male | is_female) & is_asian]
df['state'] = ['normal' for i in df.index]
df.head()

NameError: name 'df' is not defined

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256 entries, 150 to 23672
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  256 non-null    object
 1   age     256 non-null    float64
 2   state   256 non-null    object
dtypes: float64(1), object(2)
memory usage: 8.0+ KB